html {
  line-height: 1.5;
  font-family: 'Satoshi';
}

:root {
  --docsearch-container-background:rgba(33, 33, 33, 0.8);
  
}

/* html:not(.dark) .VPSidebar {
  border-right: 1px solid #eaeaea;
  background-color: #fff;
}

html:not(.dark) .curtain {
  background-color: #fff;
} */

main h1 {
  font-size: 2.5em !important;
  letter-spacing: 0em;
}

main h2 {
  letter-spacing: 0;
  font-size: 1.75em !important;
  margin-bottom: 32px !important;
}

main p {
  font-size: 1rem;
  line-height: 1.8em;
}

.dark .go-to-top {
  background-color: #333 !important;
  color: #fff !important;
}

.VPSocialLinks.VPNavBarSocialLinks.social-links {
  margin-right: 0;
}

.header-anchor {
  opacity: 1 !important;
}

